extends base.pug

block content 
    h4=video.title
    form(method="POST")
        input(
            name="title" 
            placeholder="Video Title"
            value=video.title
            type="text" 
            maxlength="40"
            required 
            )
        input(
            name="description"
            placeholder="Video Description"
            value=video.description
            type="text" 
            maxlength="140"
            required)
        input(
            name="hashtags" 
            placeholder="Hashtags, separated by comma." 
            value=video.hashtags.join()
            type="text" 
            maxlength="50"
            required)
        input(type="submit") 