extends base.pug

block content 
    div    
        p=video.description
        small #{video.meta.views} #{ video.meta.views === 0 || video.meta.views === 1? "view" : "views"}
        br
        small=video.createAt
    a(href=`${video._id}/edit`) Edit Video &rarr;